/* Account.css */
.account-page {
  min-height: 100vh;
  background: #f8f9fa;
  padding-bottom: 20px;
}

.account-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: white;
}

.account-header svg {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
  margin-right: 15px;
}

.account-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/* User Info Card */
.user-info-card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #1674a2;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  color: #333;
}

.user-details p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.user-details .phone {
  color: #1674a2;
  font-weight: 500;
  margin-top: 5px;
}

/* Account List */
.account-list {
  background: white;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.account-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.account-item:hover {
  background-color: #f9f9f9;
}

.account-item:last-child {
  border-bottom: none;
}

.account-item div {
  flex: 1;
}

.account-item h4 {
  margin: 0 0 4px 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.account-item p {
  margin: 0;
  font-size: 13px;
  color: #666;
}

.account-item svg {
  color: #999;
  font-size: 18px;
}
.account-item.danger{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-item.danger h4 {
  color: #dc3545;
}

.account-item.danger p {
  color: #dc3545;
  opacity: 0.8;
}
.delete-version-container {
  display: flex;
  align-items: center;
  right: 0px;
  gap: 8px;
  justify-content: flex-end;
}
.version {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}