/* GameDetails.css */
.standalone-page {
    /* min-height: 100vh;
    padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 20px;
    left: 0px;
}
.game-details-title {
    font-size: 20px;
}
.back-button {
    z-index: 100;
    color: #1674a2;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #1674a2;
    transform: translateX(-3px);
}

.game-details-content {
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.game-image-container {
    margin: 30px 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.game-main-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.game-main-image:hover {
    transform: scale(1.02);
}

.game-action-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.start-continue-btn {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    margin: auto;
    color: white;
}

.start-new-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.3);
}

.start-new-btn:active{
    transform: translateY(-1px);
}

/* Responsive */
@media (max-width: 768px) {
    .standalone-page {
        padding: 15px;
    }
    
    .back-button {
        top: 15px;
        left: 15px;
        padding: 10px 16px;
        font-size: 14px;
    }
    
    .game-details-content {
        padding: 30px 20px;
        margin-top: 20px;
    }
    
    .game-title {
        font-size: 28px;
    }
    
    .start-new-btn,
    .continue-btn {
        padding: 18px;
        font-size: 16px;
    }
}