/* GameCard.css */
.game-card-container {
    /* min-height: 100vh; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
}
.game-sub-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.card-game-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    flex: 1;
    min-height: 400px;
}

.game-flip-card {
    width: 100%;
    /* max-width: 300px; */
    min-height: 280px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 10px;
}
.card-text {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.nav-button {
    width: 70px;
    height: 70px;
}

.control-btn {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.next-button-right {
    transform: rotateY(180deg);
}

.control-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}