/* MOBILE FIRST */
.auth-page {
    /* min-height: 100vh; */
    background: #ffffff;
    padding: 50px 16px 40px;
}

.auth-logo {
    margin: 30px auto 0px;
    display: block;
    width: 180px;
}

.auth-title {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.auth-form {
    max-width: 400px;
    margin: 0 auto;
}

/* LINKS */
.auth-link {
    text-align: right;
    font-size: 16px;
    color: #1976A1;
    margin-top: 20px;
    cursor: pointer;
}

/* BUTTONS */
.primary-btn {
    width: 100%;
    background: #1976A1;
    color: white;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 0 0;
}

.secondary-btn {
    width: 100%;
    background: transparent;
    color: #1976A1;
    border: 2px solid #1976A1;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
.eye-icon {
  cursor: pointer;
  color: #999;
  font-size: 18px;
  margin-left: -30px;
}

.eye-icon:hover {
  color: #1674a2;
}

.auth-privacy-text{
    font-size: 16px;
    color: #000000e0;
    margin-top: 20px;
}
.auth-privacy-text .privacy-link{
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.auth-footer-text {
    text-align: center;
    margin: 20px 0 10px;
    font-size: 14px;
    color: #333;
}

/* DESKTOP */
@media (min-width: 768px) {
    .auth-page {
        padding-top: 40px;
    }
}

.row {
  display: flex;
  gap: 16px;
}

@media (max-width: 600px) {
  .row {
    flex-direction: row;
  }
}
